<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lifted_ur">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import lifted_ur urdf file -->
    <xacro:include filename="$(find ur_description)/urdf/lifted_ur.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="lifted_ur.ros2_control.xacro" />


    <xacro:lifted_ur_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
